.metadata
.DS_Store
/.recommenders/
example00-emptyproject/frontend/generated
example01-helloworld/frontend/generated
example02-helloworld-customcomponents/frontend/generated
example03-components-example/frontend/generated
example04-simple-products/frontend/generated
example05-products-with-brands/frontend/generated
example06-routing/frontend/generated
example07-products-with-brands-routing/frontend/generated
