html {
  --lumo-font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 1.375rem;
  --lumo-font-size-xxl: 1.125rem;
  --lumo-font-size-xl: 1rem;
  --lumo-font-size-l: 0.875rem;
  --lumo-font-size-m: 0.75rem;
  --lumo-font-size-s: 0.6875rem;
  --lumo-font-size-xs: 0.625rem;
  --lumo-font-size-xxs: 0.625rem;
  --lumo-line-height-m: 1.4;
  --lumo-line-height-s: 1.2;
  --lumo-line-height-xs: 1.1;
  --lumo-border-radius: calc(var(--lumo-size-l) / 2);
  --lumo-size-xl: 3rem;
  --lumo-size-l: 2.5rem;
  --lumo-size-m: 2rem;
  --lumo-size-s: 1.75rem;
  --lumo-size-xs: 1.5rem;
  --lumo-space-xl: 1.75rem;
  --lumo-space-l: 1.125rem;
  --lumo-space-m: 0.5rem;
  --lumo-space-s: 0.25rem;
  --lumo-space-xs: 0.125rem;
  --lumo-tint-5pct: rgba(255, 255, 255, 0.05);
  --lumo-tint-10pct: rgba(255, 255, 255, 0.1);
  --lumo-tint-20pct: rgba(255, 255, 255, 0.2);
  --lumo-tint-30pct: rgba(255, 255, 255, 0.3);
  --lumo-tint-40pct: rgba(255, 255, 255, 0.4);
  --lumo-tint-50pct: rgba(255, 255, 255, 0.5);
  --lumo-tint-60pct: rgba(255, 255, 255, 0.6);
  --lumo-tint-70pct: rgba(255, 255, 255, 0.7);
  --lumo-tint-80pct: rgba(255, 255, 255, 0.8);
  --lumo-tint-90pct: rgba(255, 255, 255, 0.9);
  --lumo-tint: #ffffff;
  --lumo-base-color: #ffffff;
  --lumo-primary-text-color: rgb(255, 145, 0);
  --lumo-primary-color-50pct: rgba(255, 145, 0, 0.5);
  --lumo-primary-color-10pct: rgba(255, 145, 0, 0.1);
  --lumo-primary-color: hsl(34, 100%, 50%);
}
